.blackSlink {
    font-style: normal;
    font-size: 14px;
    color: black;
    text-decoration: none;
    }

.blackTitle{
    font-style: normal;
    font-size: 12px;
    color: black;
    text-decoration: none;
    }


.blackLabel{
    font-style: normal;
    font-size: 10px;
    color: #0080FF;
    text-decoration: none;
    }

.brownSlink {
    font-style: normal;
    font-size: 12px;
    color: brown;
    text-decoration: none;
    }

.blue12 {
    font-style: normal;
    font-size: 12px;
    color: #0080FF;
    text-decoration: none;
    }
    
   .blue14 {
    font-style: normal;
    font-size: 14px;
    color: #0080FF;
    text-decoration: none;
    }
    
 .buttonBlue {
    font-style: normal;
    font-size: 14px;
    color: #0080FF;
    text-decoration: none;
    }
